In [20]:
import json 
import os 
import pandas as pd 
import numpy as np

In [21]:
# load annotatioms
cliff_path = "../annotations/prod/cliff.jsonl"
df = pd.read_json(cliff_path, lines=True)

In [22]:
df

,source_id,source,summary,cliff_labels,model,datasource,dataset,qas,spans
0,132,"[Media, playback, is, not, supported, on, this...","[[Laura, Muir, says, she, is, "", gutted, "", sh...","[[world knowledge, correct, correct, correct, ...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 2...","[{'id': 0, 'start': 0, 'end': 2, 'qaIds': [5, ..."
1,132,"[Media, playback, is, not, supported, on, this...","[[Laura, Muir, says, she, is, "", gutted, "", sh...","[[world knowledge, correct, correct, correct, ...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 2...","[{'id': 0, 'start': 0, 'end': 2, 'qaIds': [5, ..."
2,58,"[Trevor, Deely, ,, 22, ,, was, last, seen, wal...","[[Gardaí, (, Irish, police, ), investigating, ...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 5...","[{'id': 0, 'start': 2, 'end': 4, 'qaIds': [7, ..."
3,58,"[Trevor, Deely, ,, 22, ,, was, last, seen, wal...","[[Police, in, the, Republic, of, Ireland, have...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 7...","[{'id': 1, 'start': 3, 'end': 6, 'qaIds': [10,..."
4,20,"[The, boy, ,, Julian, Hernandez, ,, disappeare...","[[The, father, of, an, Alabama, boy, who, went...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 7...","[{'id': 2, 'start': 4, 'end': 5, 'qaIds': [8],..."
...,...,...,...,...,...,...,...,...,...
69,141,"[The, 56, ft, (, 17.1, m, ), converted, trawle...","[[A, lifeboat, has, been, launched, after, a, ...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 4...","[{'id': 0, 'start': 1, 'end': 2, 'qaIds': [0],..."
70,3,"[In, the, year, to, the, end, of, March, ,, 57...","[[The, number, of, recorded, homicides, in, Sc...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 3...","[{'id': 3, 'start': 4, 'end': 5, 'qaIds': [0],..."
71,3,"[In, the, year, to, the, end, of, March, ,, 57...","[[The, number, of, recorded, homicides, in, Sc...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 3...","[{'id': 3, 'start': 4, 'end': 5, 'qaIds': [0],..."
72,149,"[A, review, for, the, Commission, on, Local, T...","[[The, Scottish, council, tax, has, "", many, d...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 4...","[{'id': 0, 'start': 1, 'end': 4, 'qaIds': [7, ..."
73,149,"[A, review, for, the, Commission, on, Local, T...","[[Reform, of, the, council, tax, in, Scotland,...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 1...","[{'id': 5, 'start': 17, 'end': 18, 'qaIds': [0..."

In [23]:
df.iloc[0]["qas"][0]

{'qa_id': 0,
 'sent_id': 0,
 'predicate_idx': 2,
 'predicate_pos': 'VERB',
 'predicate': 'says',
 'question': 'who says something?',
 'answer_idx': '0-2',
 'answer': 'Laura Muir',
 'annotations': [1, 1, 1]}

In [24]:
def get_qasem_score(qas):
    scores = [1 if sum(qa["annotations"]) <= 1 else 0 for qa in qas]
    return np.average(scores)

def get_cliff_score(labels):
    scores = [1 if label == "correct" else 0 for label in labels[0]]
    return np.average(scores)

df["qasem_score"] = df["qas"].apply(get_qasem_score)
df["cliff_score"] = df["cliff_labels"].apply(get_cliff_score)

In [25]:
df[(df["cliff_score"] == 1.0) & (df["qasem_score"] == 1)].shape

(11, 11)

In [26]:
df[(df["cliff_score"] == 1.0) & (df["qasem_score"] < 1)]

,source_id,source,summary,cliff_labels,model,datasource,dataset,qas,spans,qasem_score,cliff_score
16,114,"[The, poster, with, the, phrase, #, prayforjos...","[[A, huge, billboard, in, County, Down, has, g...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 7...","[{'id': 0, 'start': 1, 'end': 3, 'qaIds': [4, ...",0.882353,1.0
17,114,"[The, poster, with, the, phrase, #, prayforjos...","[[A, huge, billboard, in, County, Down, asking...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 6...","[{'id': 1, 'start': 1, 'end': 3, 'qaIds': [0],...",0.875000,1.0
21,27,"[Investing, Solutions, received, those, benefi...","[[One, of, London, 's, biggest, letting, agent...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 8...","[{'id': 2, 'start': 2, 'end': 3, 'qaIds': [4],...",0.714286,1.0
26,63,"[The, Rhinos, have, been, training, across, th...","[[Leeds, Rhinos, say, it, could, take, up, to,...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 2...","[{'id': 0, 'start': 0, 'end': 2, 'qaIds': [5, ...",0.769231,1.0
50,6,"[Washington, blamed, Russia, and, the, Syrian,...","[[The, US, has, suspended, its, participation,...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 3...","[{'id': 0, 'start': 1, 'end': 2, 'qaIds': [3, ...",0.666667,1.0
62,139,"[John, Clancy, ,, Labour, councillor, for, Qui...","[[The, new, leader, of, Birmingham, City, Coun...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 9...","[{'id': 2, 'start': 4, 'end': 7, 'qaIds': [3],...",0.833333,1.0
67,84,"[The, decision, to, dedicate, part, of, the, r...","[[The, disappearance, of, Malaysia, Airlines, ...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 8...","[{'id': 0, 'start': 1, 'end': 7, 'qaIds': [2, ...",0.833333,1.0
70,3,"[In, the, year, to, the, end, of, March, ,, 57...","[[The, number, of, recorded, homicides, in, Sc...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 3...","[{'id': 3, 'start': 4, 'end': 5, 'qaIds': [0],...",0.714286,1.0
71,3,"[In, the, year, to, the, end, of, March, ,, 57...","[[The, number, of, recorded, homicides, in, Sc...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 3...","[{'id': 3, 'start': 4, 'end': 5, 'qaIds': [0],...",0.600000,1.0
72,149,"[A, review, for, the, Commission, on, Local, T...","[[The, Scottish, council, tax, has, "", many, d...","[[correct, correct, correct, correct, correct,...",bart,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 4...","[{'id': 0, 'start': 1, 'end': 4, 'qaIds': [7, ...",0.888889,1.0
73,149,"[A, review, for, the, Commission, on, Local, T...","[[Reform, of, the, council, tax, in, Scotland,...","[[correct, correct, correct, correct, correct,...",pegasus,xsum,cliff,"[{'qa_id': 0, 'sent_id': 0, 'predicate_idx': 1...","[{'id': 5, 'start': 17, 'end': 18, 'qaIds': [0...",0.666667,1.0

In [27]:
def get_inconsistent_qas(qas):
    return [x for x in qas if sum(x["annotations"]) >= 2]

In [28]:
get_inconsistent_qas(df.iloc[50]["qas"])

[{'qa_id': 2,
  'sent_id': 0,
  'predicate_idx': 3,
  'predicate_pos': 'VERB',
  'predicate': 'suspended',
  'question': 'why has someone suspended something?',
  'answer_idx': '10-20',
  'answer': 'to try to broker a cessation of hostilities in Syria',
  'annotations': [1, 1, 1]},
 {'qa_id': 3,
  'sent_id': 0,
  'predicate_idx': 11,
  'predicate_pos': 'VERB',
  'predicate': 'try',
  'question': 'who is trying to do something?',
  'answer_idx': '0-2',
  'answer': 'The US',
  'annotations': [1, 0, 1]},
 {'qa_id': 4,
  'sent_id': 0,
  'predicate_idx': 11,
  'predicate_pos': 'VERB',
  'predicate': 'try',
  'question': 'what is someone trying to do?',
  'answer_idx': '12-20',
  'answer': 'to broker a cessation of hostilities in Syria',
  'annotations': [1, 0, 1]},
 {'qa_id': 5,
  'sent_id': 0,
  'predicate_idx': 13,
  'predicate_pos': 'VERB',
  'predicate': 'broker',
  'question': 'who is brokering something?',
  'answer_idx': '0-2',
  'answer': 'The US',
  'annotations': [1, 1, 1]},
 {'qa_id': 6,
  'sent_id': 0,
  'predicate_idx': 13,
  'predicate_pos': 'VERB',
  'predicate': 'broker',
  'question': 'what is someone brokering?',
  'answer_idx': '14-20',
  'answer': 'a cessation of hostilities in Syria',
  'annotations': [1, 1, 1]},
 {'qa_id': 7,
  'sent_id': 0,
  'predicate_idx': 24,
  'predicate_pos': 'VERB',
  'predicate': 'says',
  'question': 'what does someone say?',
  'answer_idx': '0-20',
  'answer': 'The US has suspended its participation in talks with Russia to try to broker a cessation of hostilities in Syria',
  'annotations': [1, 0, 1]}]